<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.alchemyworx.www"
        version   = "1.0.0">

    <name>AWNews</name>

    <description>
        AWNews description 
    </description>

    <author href="http://www.alchemyworx.com" email="info@alchemyworx.com">
        AWContact 
    </author>
	
	<plugin name="Camera" value="org.apache.cordova.CameraLauncher" />
	
    <access origin="*" subdomains="true"/>
</widget>